.digest-rules .contextual {
  margin-top: -12px;
  padding-bottom: 5px;
}

.box.tabular.digest-rule input[type=text] {
  width: 40%;
}

.tabular p.select2-field label {
  margin-top: 5px;
}

.select2-field input {
  padding: 0;
}

fieldset.digest-rules table.list td.buttons {
  white-space: normal;
}
